/*
/*/

!/Classes/
!/Resources/

!/proj.android/
/proj.android/*
!/proj.android/app/
/proj.android/app/*
!/proj.android/app/AndroidManifest.xml
!/proj.android/app/jni/
/proj.android/app/jni/*

!/CMakeLists.txt
!/.gitignore
!/README.md