/*
/*/

!/Classes/
!/Resources/

!/proj.android/
/proj.android/*
!/proj.android/app/
/proj.android/app/*
!/proj.android/app/AndroidManifest.xml
!/proj.android/app/jni/
/proj.android/app/jni/*
!/proj.android/app/jni/hellocpp
/proj.android/app/jni/hellocpp/*
!/proj.android/app/jni/hellocpp/main.cpp

!/proj.win32/
/proj.win32/*
!/proj.win32/main.cpp

!/CMakeLists.txt
!/.gitignore
!/README.md